$font-family: "Inter", sans-serif;
$black: #000;
$primary: #2c2c2c;
$white: #fff;
$text-secondary: #b3b3b3;
$white-secondary: #f5f5f5;
$red: #ff5f57;

$border-radius: 0.5rem;

@mixin flex-align-direction($direction: row, $justify: flex-start) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin border($color: #d9d9d9) {
  border: solid 1px $color !important;
}

@mixin font-base($size: 0, $weight: 0, $line-height: 0) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

body {
  font-family: $font-family;
  font-size: 1rem;
  height: 100vh;
  color: black;
  background-color: #F5F5F5;
  padding-top: 6.25rem;
}

.todo {
  width: 25.25rem;
  margin: 0 auto;
  padding: 1.5rem;
  @include border;
  border-radius: $border-radius;
  background-color: $white;
  box-shadow: 0 0.25rem 0.25rem -0.25rem rgba(12, 12, 13, 0.05), 0 1rem 2rem -0.25rem rgba(12, 12, 13, 0.1);
  @include flex-align-direction ($direction: column);
  gap: 1.5rem;

  &__title {
    @include font-base($size: 1.25rem, $weight: 600, $line-height: 120%);
    letter-spacing: -0.2%;
  }

  &__add {
    width: 100%;
    @include flex-align-direction($justify: space-between);

    &-input {
      width: 285px;
      height: 2.5rem;
      @include border;
      border-radius: $border-radius;
      padding: 0.75rem 0.75rem 0.75rem 1rem;
      transition-duration: 0.2s;

      &::placeholder {
        color: $text-secondary
      }

      &:focus {
        border-color: $primary !important;
      }
    }

    &-button {
      width: 55px;
      height: 2.5rem;
      color: $white-secondary;
      background-color: $primary;
      @include border($color: $primary);
      border-radius: $border-radius;
      padding: 0.75rem;
      @include flex-align-direction($justify: center);
      cursor: pointer;
      transition-duration: 0.2s;

      &:active {
        transform: scale(0.9);
      }
    }
  }

  &__search {
    @include flex-align-direction($justify: space-between);
    width: 100%;
    position: relative;

    &-field {
      width: 100%;
      height: 2.5rem;
      @include border;
      border-radius: $border-radius;
      padding: 0.75rem 35px 0.75rem 1rem;
      transition-duration: 0.2s;

      &::placeholder {
        width: 25rem;
        color: $text-secondary
      }

      &:focus {
        border-color: $primary !important;
      }
    }

    &-button {
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      right: 0;
      @include flex-align-direction($justify: center);
      cursor: pointer;
      transition-duration: 0.2s;

      &:hover {
        transform: rotate(90deg);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  &__info {
    width: 100%;
    @include flex-align-direction($justify: space-between);

    &-total {
      @include flex-align-direction;
      gap: 0.5rem;
    }

    &-delete {
      @include font-base($size: 1rem, $weight: 600, $line-height: 140%);
      color: $red;
      cursor: pointer;
      transition-duration: 0.2s;

      &:active {
        transform: scale(0.9);
      }
    }
  }

  &__total {
    &-text {
      @include font-base($size: 1rem, $weight: bold, $line-height: 140%);
      color: $black;
    }
    
    &-count {
      @include font-base($size: 1rem, $weight: bold, $line-height: 140%);
      color: $black;
    }
  }

  &__list {
    width: 100%;
    @include flex-align-direction($direction: column);
    gap: 0.5rem;
  }

  &__item {
    width: 100%;
    min-height: 46px;
    @include border;
    border-radius: $border-radius;
    padding: 0.75rem 10px;
    @include flex-align-direction($justify: space-between);
    transition-duration: 0.2s;

    &-check {
      width: 1.25rem;
      height: 1.25rem;
      accent-color: $primary;
    }

    &-text {
      width: 17rem;
      display: block;
      @include font-base($size: 1rem, $weight: 400, $line-height: 140%);
    }

    &-delete {
      width: 1.25rem;
      height: 1.25rem;
      @include flex-align-direction($justify: center);
      padding: 0;
      cursor: pointer;
    }

    &:hover {
      border-color: $primary;
    }
  }
}